@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffeaac;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2367d35d' fill-opacity='0.41'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 3px 33px;
    background-color: #009b35;
    border-radius: 13px;
    margin-bottom: 22px;

    h1 {
        font-size: 2vw;
        font-weight: 700;
        color: #fff;
        margin-right: 39px;

        -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
    }

    a {
        text-decoration: none;
        color: #fff;
        //font-size: 20px;
        font-size: 1.2vw;
        font-size: calc(main(width) / 80 );
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            padding-bottom: 3px;
            border-bottom: 3px solid #aa2e74;
        }

        -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
    }
}

.route {
    width: 52vw;
    margin: 0 auto;
}

.desktop-links {
    display: block;
}
.hamburger {
    display: none;
}


    .close-nav {
        background: none;
        border: none;
        color: #fff;
        position: absolute;
        top: 1%;
        right: 3%;
        font-size: 6vw;
    }

.goals-section {
    width: 96%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-number {
    background-color: #eba61d;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 1.6vw;
    height: 1.6vw;
    text-align: center;
}

.list-number-zero {
    background-color: #a1a5e4;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 1.6vw;
    height: 1.6vw;
    text-align: center;
}

.new-goal-section {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-top: 0;
    }

    button {
    color: #fff;
    background-color: #009b35;
    border-radius: 15px;
    border: none;
    padding: 6px 4px;
    width: 160px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    cursor: pointer;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-label, #total-label  {
    display: block;
    margin-bottom: 22px;

    border-bottom: 2px solid #aa2e74;
}

#title-input, #total-input {
    padding: 9px;
    border: none;
    background: none;
    font-size: 15px;
    font-size: 19px;
    width: 18vw;
    
    &:focus {
        outline: none;
        border: none;
        background: #faf4d8;
    }
}

.your-total-label {
    border-bottom: 2px solid #aa2e74;
    width: 12vw;
    display: inline-block;
    margin-right: 7px;
}
.your-total-input {
    background: none;
    border: none;
    padding: 1px 1px 3px 15px;

    &:focus {
        outline: none;
        border: none;
    }
    }

    .your-total-input[type="text"] {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 700;
    }

.goals-list {
    list-style: none;
    position: relative;
    width: 20.5vw;
    padding: 12px;
    margin: 0px 0px 22px 0px;
    border: 3px solid #009b35;
    border-radius: 8px;
    background: #faf4d8;
}

.goal {
    font-size: 1vw;
    span {
        font-size: 1.2vw;
    }
}

.total {
    font-size: 1vw;
    span {
        font-size: 1.2vw;
    }    
}


.remove-goal-btn {
    color: #fff;
    background: none;
    border: none;
    border-radius: 3px;
    background: #aa2e74;
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 4%;
}

.goal-span {
    font-weight: 700;
    font-size: 21px;
    
}

.add-wrapper {
    display: flex;
}
   

.add-money-btn {
    color: #fff;
    font-size: 1vw;
    background-color: #009b35;
    border-radius: 15px;
    border: none;
    padding: 3px 4px;
    width: 4vw;
    font-family: 'Montserrat', sans-serif;
    margin-right: 3px;
    cursor: pointer;

    &:hover {
        background-color: #088634;
    }

    &:last-child {
        margin-right: 0;
    }
}

.add-money-btn[value] {
    font-size: 1.2vw;
}

.add-block {
    //display: flex;
    //align-items: center;
}


.add-text {
    margin-right: 11px;
    font-size: 1.1vw;
}

.total-btns {
    margin-right: 3px;
    display: inline;
}

 .total-input {
    background: none;
    border-bottom: 2px solid #aa2e74;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 78%;
    padding-left: 16px;
    font-size: 18px;
 }

 .not-found {
    text-align: center;
    font-size: 1.5vw;
 }

 .hamburger-btn {
    display: none;
}

.footer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 20px;
    width: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        &:hover {
            border-bottom: 3px solid #aa2e74;
            padding-bottom: 3px;
        }
    }   

    img {
        width: 2vw;
    }
}

//language-switcher styles

.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
  }
  
  .switch > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
    color: #F36F25;
  }
  
  input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
  }
  
  .switch > span.on {
    left: 0;
    padding-left: 2px;
    color: #F36F25;
  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #F36F25;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #F36F25;
    -webkit-
    
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }
  
  input.check-toggle-round-flat:checked + label {
  }
  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
  }

 @media screen and (max-width: 1174px) {
    .goal {
        font-size: 1vw;
        }
        .goal span {
        font-size: 1.1vw;
        }
        .goals-list {
        width: 22.2vw;
        padding: 10px;
        }
        .add-money-btn[value] {
        font-size: 1.1vw;
        }
        .total {
        font-size: 1vw;
        }
        .add-text {
        margin-right: 7px;
        font-size: 1vw;
        }
        
    

 }

@media screen and (max-width: 1027px) {
    .route {
        width: 67vw;
    }

    .header {
        
        h1 {
            font-size: 2.4vw;
            
        }
        a {
            font-size: 1.5vw;
        }
    }

    #title-input, #total-input {
        width: 31vw;
    }

    .list-number, .list-number-zero {
        width: 1.9vw;
        height: 1.9vw;
    }

    .goals-list {
        width: 27.2vw;
        }
        .goal {
        font-size: 1.5vw;
        }
        .goal span {
        font-size: 1.6vw;
        }
        .total {
        font-size: 1.5vw;
        }
        .add-text {
        font-size: 1.5vw;
        }
        .add-money-btn[value] {
        font-size: 1.3vw;
        }
        }
        .total span {
        font-size: 1.6vw;
        }
        .add-money-btn {
        width: 4.3vw;
        }
        



@media screen and (max-width: 768px) {
    
    main {
        //width: 97%;
    }
    .route {
        width: 96vw;
    }

    .not-found {
        font-size: 2.8vw;
    }
    .header {
        padding: 7px 18px;
    }


    .header {
        h1 {
            font-size: 3.5vw;
        }
        a {
            font-size: 2.1vw;
        }
    }

    #title-input, #total-input {
        width: 44vw;
    }

    .list-number, .list-number-zero {
        width: 2.7vw;
        height: 2.7vw; }

    .goals-section {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .goals-list {
        width: 66vw;
    }

    .goal {
        font-size: 3.3vw;        
        span{
        font-size: 3.5vw;

        }
    }

    .total {
        font-size: 3.3vw;        
        span{
        font-size: 3.5vw;

        }
    }

    .add-text {
        font-size: 3.3vw;
    }

    .add-money-btn {
        width: 12.1vw;
    }

    .add-money-btn[value] {
        font-size: 3.1vw;
    }

}


@media screen and (max-width: 480px) {

    .not-found {
        font-size: 3.5vw;
    }

    .hamburger-btn {
        display: block;
        background: none;
        border: none;
    }

    .nav {
        position: absolute;
        z-index: 10000;
        background-color: #fff;
        font-size: 5vw;
        top: 10%;
        right: 25%;
        left: 25%;
        padding: 30px 5px;
        text-align: center;
        border-radius: 8px;
        background-color: #006121;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2352eb86' fill-opacity='0.35'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        a {
            display: block;
            margin-bottom: 22px;
            color: #fff;
            text-decoration: none;

            &:last-child {
                margin-bottom: 0;
            }

        }
    }

    .list-number, .list-number-zero {
        width: 5.9vw;
        height: 5.9vw;

    }
    

    .header {
        justify-content: space-between;
        padding: 0px 18px;
        h1 {
            font-size: 4.9vw;
        }
        a {
            &:hover {
                padding-bottom: 0;
                border-bottom: none;
            }
            &:active {
                background-color: #aa2e74;
            }
      }
    }

    .new-goal-section {
        width: 83%;
    }

    #title-input, #total-input {
        width: 65vw;
    }

    .desktop-links {
        display: none;
    }
    .hamburger {
        display: block;

        span {
            display: block;
            width: 19px;
            height: 2px;
            background: white;
            margin-bottom: 3px; 
            &:last-child {
                margin-bottom: 0;
            } 
        }
    }

    
}
